<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
<h1 class="mb-1 restaurant-show-title">{{restaurant.name_en}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          <span class="ms-2">類別：</span>
        </span>
        {{restaurant.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          <span class="ms-2">地址：</span>
        </span>
        {{restaurant.location}}
        <a href="{{restaurant.google_map}}" class="text-secondary" target="_blank">
          <span class="ms-2">
            <i class="fa-solid fa-location-arrow"></i>
          </span>

        </a>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          <span class="ms-2">電話：</span>
        </span>
        {{restaurant.phone}}
      </p>

      <p class="mb-1">
        {{restaurant.description}}
      </p>

      <div class="d-flex justify-content-center">
        <a href="/restaurants/{{ restaurant._id }}/edit">
          <button type="button" class="btn btn-info btn-lg m-3">編輯餐廳</button>
        </a>
        <a href="/">
          <button type="button" class="btn btn-info btn-lg m-3">返回首頁</button>
        </a>
        <form action="/restaurants/{{ restaurant._id }}?_method=DELETE" method="POST" class="m-3">
          <button type="submit" class="btn btn-danger btn-lg">Delete</button>
        </form>
      </div>

      <img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.image}}" alt="布娜飛比利時啤酒餐廳"
        style="max-width: 600px;">
    </div>
  </div>
</div>