<div class="d-flex justify-content-center my-5">
  <div class="row w-50">
    <div class="col-3 d-flex align-items-center">
      <div>*必填欄位</div>
    </div>
    <div class="col-9 d-flex justify-content-center">
      <div class="btn-lg btn btn-outline-secondary text-secondary p-2">請修改你的支出</div>
    </div>
  </div>
</div>

<form action="/records/{{record._id}}?_method=PUT" method="POST" class="was-validated">

  {{!-- expense name --}}
  <div class="d-flex justify-content-center my-5">
    <div class="row w-50">

      <div class="col-3 d-flex align-items-center">
        <label for="name" class="m-1">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="ms-2">名稱* :</span>
        </label>
      </div>

      <div class="col-9">
        <input id="name" class="form-control" type="text" placeholder="支出名稱" name="name" value="{{record.name}}"
          required />

        <div class="valid-feedback">
          <span class="d-flex justify-content-center">Looks good!</span>
        </div>
        <div class="invalid-feedback">
          <span class="d-flex justify-content-center">支出名稱必填</span>
        </div>
      </div>

    </div>
  </div>

  {{!-- expense date --}}
  <div class="d-flex justify-content-center mb-5">
    <div class="row w-50">
      <div class="col-3 d-flex align-items-center">
        <label for="date" class="m-1">
          <i class="fa-solid fa-calendar-days"></i>
          <span class="ms-2">日期* :</span>
        </label>
      </div>

      <div class="col-9">
        <input id="date" class="form-control" type="date" name="date" value="{{recordDate}}" required />

        <div class="valid-feedback">
          <span class="d-flex justify-content-center">Looks good!</span>
        </div>

        <div class="invalid-feedback">
          <span class="d-flex justify-content-center">日期必選</span>
        </div>
      </div>
    </div>
  </div>

  {{!-- expense category --}}
  <div class="d-flex justify-content-center mb-5">
    <div class="row w-50">
      <div class="col-3 d-flex align-items-center">
        <label for="category" class="m-1">
          <i class="fa-solid fa-chart-pie"></i>
          <span class="ms-2">類別* :</span>
        </label>
      </div>

      <div class="col-9">
        <select class="form-select form-select-lg " name="category" id="category" required>
          <option value="">Select</option>
          <option value="1" {{#is record.categoryId 1}}selected{{/is}}>家居物業</option>
          <option value="2" {{#is record.categoryId 2}}selected{{/is}}>交通出行</option>
          <option value="3" {{#is record.categoryId 3}}selected{{/is}}>休閒娛樂</option>
          <option value="4" {{#is record.categoryId 4}}selected{{/is}}>餐飲食品</option>
          <option value="5" {{#is record.categoryId 5}}selected{{/is}}>其他</option>
        </select>
        <div class="valid-feedback">
          <span class="d-flex justify-content-center">Looks good!</span>
        </div>

        <div class="invalid-feedback">
          <span class="d-flex justify-content-center">類別必選</span>
        </div>
      </div>
    </div>
  </div>

  {{!-- expense amount --}}
  <div class="d-flex justify-content-center mb-5">
    <div class="row w-50">
      <div class="col-3 d-flex align-items-center">
        <label for="amount" class="m-1">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          <span class="ms-2">金額* :</span>
        </label>
      </div>

      <div class="col-9">
        <input id="amount" class="form-control" type="number" placeholder="123" name="amount" value="{{record.amount}}"
          required />

        <div class="valid-feedback">
          <span class="d-flex justify-content-center">Looks good!</span>
        </div>
        <div class="invalid-feedback">
          <span class="d-flex justify-content-center">金額必填</span>
        </div>
      </div>
    </div>
  </div>

  {{!-- update btn for PUT /records/_id --}}
  <div class="d-flex justify-content-center mb-5">
    <div class="w-50 row d-flex flex-row-reverse">
      <div class="col-9">
        <button type="submit" class="form-control btn btn-info btn-lg">送出</button>
      </div>
    </div>
  </div>

</form>

<script>
  document.getElementById('showRating').textContent = {{ restaurant.rating }}
</script>