{{!-- category Dropdowns --}}
<div class="d-flex justify-content-end my-5">
  <div class="row" style="width: 70%">
    <div class="col-6 padding0">

      <div class="btn-group" style="width: 100%">

        <span type="button" class="d-flex btn btn-warning" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="text-dark">類別</span>
        </span>
        <button type="button"
          class="btn btn-warning dropdown-toggle dropdown-toggle-split d-flex flex-row-reverse align-items-center text-dark"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">家居物業</a></li>
          <li><a class="dropdown-item" href="#">交通出行</a></li>
          <li><a class="dropdown-item" href="#">休閒娛樂</a></li>
          <li><a class="dropdown-item" href="#">餐飲食品</a></li>
          <li><a class="dropdown-item" href="#">其他</a></li>
        </ul>

      </div>

    </div>
    <div class="col-6 "></div>
  </div>
</div>

{{!-- totalAmount --}}
<div class="d-flex justify-content-end">
  <div class="row" style="width: 70%">
    <div class="col-6 padding0">

      <div class="row">
        <div class="col-4 d-flex">
          <span style="font-size: 1.7vw">總金額 :</span>
        </div>
        <div class="col-8 d-flex flex-row-reverse">
          <span class="text-secondary" style="font-size: 6vw">{{totalAmount}}</span>
        </div>
      </div>

    </div>
    <div class="col-6">

    </div>
  </div>

</div>

{{!-- expenses list --}}
<div class="d-flex justify-content-end">
  <div class="row" style="width: 70%">
    {{!-- <div class="d-flex flex-column align-items-center">

    </div> --}}
    {{#each records}}
    <div class="col-6 ">

      <div class="row bg-info bg-opacity-50 mb-5">
        <div class="col-3 d-flex flex-column justify-content-center">
          <i class="fa-solid fa-face-grin-beam" style="font-size: 5vw"></i>
        </div>
        <div class="col-7 pb-3">
          <div style="font-size: 4vw">{{this.name}}</div>
          <div style="font-size: 1vw">{{this.formattedDate}}</div>
        </div>
        <div class="col-2 d-flex flex-column justify-content-center" style="font-size: 2vw">
          <span>{{this.amount}}</span>
        </div>
      </div>

    </div>

    <div class="col-6 d-flex justify-content-center align-items-center mb-5">
      <div>
        <a class="me-5 text-decoration-none" href="./records/{{this._id}}/edit">
          <span class="me-2" style="font-size: 2vw">修改</span>
          <i class="fa-solid fa-file-pen" style="font-size: 2vw"></i>
        </a>

        <a href="/records/new" class="text-decoration-none">
          <span class="me-2" style="font-size: 2vw">刪除</span>
          <i class="fa-solid fa-trash-arrow-up" style="font-size: 2vw"></i>
        </a>

      </div>

    </div>
    {{/each}}
  </div>

</div>

{{!-- go to new.hbs --}}
<div class="d-flex justify-content-end mb-5">
  <div class="row" style="width: 70%">
    <div class="col-6 d-flex justify-content-center">
      <a class="btn btn-secondary" href="/records/new" style="width: 70%; font-size: 1.5vw">新增支出</a>
    </div>
    <div class="col-6 "></div>
  </div>
</div>