{{!-- category Dropdowns --}}
<div class="d-flex justify-content-center my-5">
  <div class="btn-group" style="width: 35%">
    <span type="button" class="d-flex btn btn-warning" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="text-dark">類別</span>
    </span>
    <button type="button"
      class="btn btn-warning dropdown-toggle dropdown-toggle-split d-flex flex-row-reverse align-items-center text-dark"
      data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">家居物業</a></li>
      <li><a class="dropdown-item" href="#">交通出行</a></li>
      <li><a class="dropdown-item" href="#">休閒娛樂</a></li>
      <li><a class="dropdown-item" href="#">餐飲食品</a></li>
      <li><a class="dropdown-item" href="#">其他</a></li>
    </ul>
  </div>
</div>

{{!-- totalAmount --}}
<div class="d-flex justify-content-center">
  <div class="row" style="width: 35%">
    <div class="col-4 d-flex">
      <span style="font-size: 1.7vw">總金額 :</span>
    </div>
    <div class="col-8 d-flex flex-row-reverse">
      <span class="text-secondary" style="font-size: 6vw">{{totalAmount}}</span>
    </div>
  </div>
</div>

<div class="w-75 mx-auto mt-5 d-flex justify-content-between">

  <form action="/search" class="form-inline my-2 my-lg-0 d-flex">
    <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Search Record, Category"
      aria-label="Search Restaurant" value="{{keywords}}" aria-describedby="search-button" />

    <button class="btn btn-outline-danger my-2 my-sm-0 ms-2" type="submit" id="search-button">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>

  <a class="btn btn-info" href="/records/new">New expense</a>

  <form action="/sort" method="GET">
    <label for="sort">Sort By：</label>
    <select id="sort" name="sortBy">
      <option value="az" {{#if sortAZ}}selected{{/if}}>A -> Z</option>
      <option value="za" {{#if sortZA}}selected{{/if}}>Z -> A</option>
      <option value="category" {{#if sortCat}}selected{{/if}}>分類</option>
      <option value="location" {{#if sortLoc}}selected{{/if}}>地址</option>
    </select>

    <button type="submit" class="btn btn-outline-danger ms-2">
      <span class="me-1">Sort</span>
      <i class="fa-solid fa-arrow-down-wide-short"></i>
    </button>
  </form>
</div>


<!-- expenses list -->
<div class="container mt-5">
  <div class="row">
    {{#each records}}
    <div class="col-lg-4 col-md-6 col-sm-12 ">
      <div class="card mb-3">
        <a href="/records/{{this._id}}" class="text-secondary">
          <img class="card-img-top " src="{{this.image}}" alt="{{this.name}}" />
        </a>
        <div class="card-body p-3">
          <h6 class="card-title mb-1">{{this.name}}</h6>
          <h6 class="card-title mb-1">{{this.name_en}}</h6>
          <div class="restaurant-category mb-1">
            <i class="fas fa-utensils pr-2"></i> {{this.category}}
          </div>
          <div>
            <i class="fas fa-map"></i> {{this.location}}
          </div>
          <span class="badge rounded-pill bg-danger fw-normal">
            {{this.rating}}
            <i class="fa-solid fa-star"></i>
          </span>

        </div>
        <div class="card-footer d-flex justify-content-end">
          <span class="p-2">
            <a href="./records/{{ this._id }}/edit">Edit</a>
          </span>
          <span class="ms-2 p-2">
            <a href="./records/{{ this._id }}">Detail</a>
          </span>
          <form action="./restaurants/{{ this._id }}?_method=DELETE" method="POST" class="ms-2">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>

        </div>
      </div>

    </div>
    {{/each}}

  </div>
</div>